.navbar-nav .nav-item .btn:hover {
    background-color: #F5F0FF;
    border-color: #6C4DFF;
    color: #6C4DFF;
  }
  
  .navbar-nav .nav-item .active {
    background-color: #EADDFC;
    border-color: #6C4DFF;
    color: #6C4DFF;
  }
  